Bin
Obj
obj
Build
.vs
*.cache
*.feature.cs
*.user
*.suo
*.cache
*.bak
*.vsp
*.psess
*.pdb
*.mdb
*.pyc
*.ini
*.scene.cs
packages
RESULT*/
Src/_Resharper*
.DS_Store
*.sln.ide
Src/TestResults/
_ReSharper*
_dotCover*

BundleArtifacts
AppPackages

project.lock.json
Resource.designer.cs

.tmpRes
.idea
.tmp

# NCrunch
_NCrunch_*
*.ncrunch*
AutogenerateEvents.cs
AutogenerateEventsInternal.cs